[2016-10-03 23:54] WesTyler opened #1 "Epic README"
Re-write README to follow standards of Hapi.js outlined [here](https://github.com/hapijs/contrib/blob/master/Guidelines.md).

[2016-10-03 23:56] WesTyler opened #2 "Example method: support arrays"
Example value generation should have basic support array-typed schema.

[2016-10-03 23:57] WesTyler opened #3 "Example method: support objects."
Example value generation should have basic support object-typed schema.

[2016-10-03 23:59] WesTyler opened #4 "Example method: support functions."
Example value generation should have basic support function-typed schema.

[2016-10-04 00:00] WesTyler opened #5 "Example method: support alternatives."
Example value generation should have basic support alternatives-typed schema.

[2016-10-07 17:26] WesTyler opened #7 "Example method: support binary."
Example value generation should have basic support for binary-typed schema.

[2016-10-07 18:06] #2 closed, assigned to nobody

[2016-10-07 18:28] #4 closed, assigned to nobody

[2016-10-07 20:17] #7 closed, assigned to nobody

[2016-10-07 20:18] WesTyler opened #10 "100% test coverage."

[2016-10-11 22:41] #3 closed, assigned to WesTyler

[2016-10-12 17:10] dhinklexo opened #12 "Does not properly handle Joi alternatives"
Using the Joi sample schema of:

[code]

Node returns:

[code]

[2016-10-12 17:16] WesTyler opened #13 "Additional String options: regex."
Should handle `Joi.string().regex()` properly and return a string that matches the provided regex pattern.

This is not likely to be 100% coverage for all possible regex patterns, but basic support should at least be there.

Look at https://github.com/fent/randexp.js for implementation ideas.

[2016-10-12 17:16] WesTyler opened #14 "Additional String options: email"
Should handle Joi.string().email() properly and return a valid (but fake) email address.

[2016-10-12 17:17] WesTyler opened #15 "Additional Object options: with/without"
Should handle `Joi.object().with()` and `Joi.object().without()` properly and return an object with the expected key set.

[2016-10-12 17:19] #12 closed, assigned to nobody

[2016-10-12 21:20] #5 closed, assigned to WesTyler

[2016-10-13 19:07] #10 closed, assigned to nobody

[2016-10-13 19:08] #14 closed, assigned to nobody

[2016-10-14 14:08] WesTyler opened #18 "Felicity Logo"
Once again following Hapi.js patterns:

create `/images` directory in repo root; drop `png`(s).
README: `![felicity Logo](https://raw.github.com/xogroup/felicity/master/images/felicity.png)`

[2016-10-14 18:13] WesTyler opened #19 "Allow configurations."
There are some assumptions Felicity makes, such as stamping default values in and stripping optional properties out.

Both `Felicity.skeleton` and `Felicity.example` should take an optional configuration object to toggle these defaults as needed.

[2016-10-14 19:49] #15 closed, assigned to WesTyler

[2016-10-14 20:25] WesTyler opened #21 "Track Joi support coverage"
Just creating a place to track with Joi schema features we currently support.
A feature/option is "supported" when there are explicit tests in both Felicity.skeleton and Felicity.example.

Joi version: 9.0.4
- Any
  - `default` ✅
  - `required`✅
  - `optional`✅
  - `valid` ✅
  - `allow` ✅
  - `strip` ✅
  - `forbidden` ✅
- String
  - `guid`✅
  - `email`✅
  - `min`✅
  - `max`✅
  - `length`✅
  - `iso

[2016-10-17 15:01] #13 closed, assigned to WesTyler

[2016-10-24 21:08] #19 closed, assigned to nobody

[2016-10-25 03:36] WesTyler opened #26 "Code Examples"
Create `/examples` directory with several different use-cases. With test coverage.

[2016-10-26 14:37] WesTyler opened #27 "Constructor"
Felicity should provide a simple API for creating custom constructor functions from a schema.

Both returned Constructor and instances of Constructor should have the `validate` and `example` methods

[code]

[2016-10-26 17:56] #27 closed, assigned to nobody

[2016-10-27 17:52] WesTyler opened #29 "Add `value` to validationObject"
The `validate` method return object should include the value of the validated object with any applicable Joi type conversions, regardless of success/failure:

[code]

[2016-10-27 22:50] WesTyler opened #30 "Discussion of API.md"
Please leave any comments, questions, concerns, advice, etc regarding the API.md documentation.

Feel free to make a PR to rewrite anything you want, but please tag the commit/PR with this issue so that I can see what was changed in one central spot. I like to learn and improve. :)

[2016-10-27 22:51] WesTyler opened #31 "Enable`strictExample` for entityFor instances."
The below should be accurate. Right now, passing `strictExample` to `entityFor` does not persist the config for future `.example()` calls on instances.

---
- `strictExample` - default `false`. Default behavior is to not run examples through Joi validation before returning.

If set to `true`, example will be validated prior to returning.

Note: in most cases, there is no difference. The only known

[2016-10-28 17:05] #31 closed, assigned to nobody

[2016-10-28 17:56] #29 closed, assigned to nobody

[2016-10-28 20:12] #1 closed

[2016-10-28 22:11] WesTyler commented on #21
(Edited to add any `forbidden`, `strip`, and `allow`)

[2016-10-29 15:50] lamchakchan opened #40 "Documentation around testing"
We need some documentation around testing.

- Any machine specific requirements
 - eg: mocha/chai
- Command for entrypoint

[2016-10-29 19:13] lamchakchan commented on #26
With the `API.md` being expressive in its current format, I don't think examples are necessary since the examples are part of the API explanations.

[2016-10-29 19:16] lamchakchan opened #41 "Buffer.alloc dependencies breaking test"
[code]

[2016-10-29 20:15] WesTyler commented on #40
Would you put that in the README, CONTRIBUTING, or both?

[2016-10-29 20:17] WesTyler commented on #41
Oh dang, that's right, there is a Node version dependency.

At minimum this should be in the README; I may even polyfill `buffer.alloc`.

[2016-10-29 20:19] WesTyler commented on #26
Good point. Going to close this then.

[2016-10-29 20:19] #26 closed

[2016-10-29 20:22] lamchakchan commented on #40
I added it to the README for now.

[2016-10-29 20:22] #40 closed

[2016-10-29 20:29] WesTyler commented on #41
Also: Node versions required to avoid polyfill:

- v4.5.x +
- v5.10.x+
- v6.0.x+
- v7.0.x+

[2016-10-29 20:45] WesTyler commented on #41
Node version dependencies added to the `Setting up for development` portion of the README.

@lamchakchan do you think a `Buffer.alloc` polyfill is needed to remove the Node version dependency?

[2016-10-29 20:49] lamchakchan commented on #41
We should definitely polyfill `Buffer.alloc`.  Keep this issue alive for that.

[2016-10-29 21:24] devinivy commented on #41
As noted on Lam's PR, there's also a package.json field to enforce nodejs version: https://docs.npmjs.com/files/package.json#engines

I'd also suggest not actually polyfilling `alloc()`, but rather use a module like that provides the functionality you want, such as https://www.npmjs.com/package/buffer-alloc.

[2016-10-29 21:26] devinivy commented on #18
You might want an .npmignore too, to make sure the images are not published https://github.com/hapijs/joi/blob/master/.npmignore

[2016-10-29 21:31] devinivy commented on #30
It's unclear to me from the docs whether `instance.example()` populates `instance` with the example data or not.  Does it return another instance, the same instance, or a plain javascript object?

[2016-10-29 22:37] WesTyler commented on #30
Ah, cool. You're correct, it returns a plain JS object.

I'll update to clarify. Thanks!

[2016-10-29 22:43] WesTyler commented on #41
Awesome, thanks guys.

Since Lam implemented buffer-alloc, I'm going to remove the Node dependency info from the README and close this issue. Also not going to add the engines field since the issue is resolved.

[2016-10-29 22:44] lamchakchan commented on #41
great!

[2016-10-29 22:45] #41 closed

[2016-10-29 22:49] lamchakchan commented on #21
(Edited to add function `arity(n)`, `minArity(n)` and `maxArity(n)`)

[2016-10-29 22:53] WesTyler commented on #18
Cool, good call out. Thanks!

[2016-10-29 23:08] WesTyler opened #48 "Set up integration for testing + linting on PRs"
Travis CI. But PRs should automatically trigger the `npm test` command and show if there are failing tests, uncovered paths, and/or basic linting issues.

[2016-10-29 23:53] #48 closed

[2016-10-30 00:49] lamchakchan commented on #21
(Edited to add array `single`)

[2016-10-30 00:57] lamchakchan opened #50 "Create xogroup account in npm and connect deployment through TravisCI"
Create a shared NPM shared group account for us to start deploying OSS projects to.  Also configure TravisCI to make the build and push with.

[2016-10-30 02:27] lamchakchan commented on #21
(Edited to add string `ip`)

[2016-10-30 02:43] lamchakchan commented on #21
(Edited to add string `uppercase` and `lowercase`)

[2016-10-30 02:48] lamchakchan commented on #21
@WesTyler I don't think all of these API contracts from `joi` needs to be supported.  It looks like some of these contracts are actually actions and not validations that we can reverse generate a value from.  Check [this](https://github.com/hapijs/joi/blob/master/API.md#stringreplacepattern-replacement) out.

[2016-10-30 03:15] lamchakchan commented on #21
@WesTyler Looks like you already took care of `date.format([string])`.  I'm looking at [here](https://github.com/xogroup/felicity/blob/master/test/value_generator_tests.js#L767-L778).

[2016-10-30 16:49] WesTyler commented on #21
@lamchakchan re: `date.format` you're right. I updated the README but not this issue when I made the PR. Issue is now updated. Thanks!

For the action contracts, you're right. I want to have at minimum a test on Felicity.entityFor though, just to make sure there are no unknown Joi internals that interfere with how Felicity is interacting with the `describe` api for those options.

[2016-10-30 16:56] WesTyler commented on #50
Continuing convo elsewhere for security.

[2016-10-31 02:25] #50 closed

[2016-10-31 21:50] WesTyler commented on #21
(Edited to indicate `string.truncate`, `string.trim`, and `string.replace` are tested and have no problems.)

[2016-11-05 03:28] lamchakchan commented on #21
(Edited to add object `rename`)

[2016-11-05 03:55] lamchakchan commented on #21
(Edited to add object `and` and `or`)

[2016-11-05 16:00] WesTyler opened #57 "Object.rename should utilize Joi describe api"
Pending approval/implementation of https://github.com/hapijs/joi/issues/1026 , the Felicity `lib/helpers.js/internals.object` method should not rely on `_inner` properties anymore.

[2016-11-05 16:07] WesTyler commented on #57
Oops. Totally just outed Felicity on the Joi issue by linking above... I added a pre-release disclaimer to our README in case anybody links over here from Joi... 😬

[2016-11-05 19:22] lamchakchan commented on #57
Agreed!

[2016-11-05 19:31] lamchakchan commented on #21
@WesTyler seems like the `Object.type()` API is going to require some Joi PR's to add pass through for `Function:constructor` pointers.  As of right now, when you setup a schema with the following:

[code]

We get from `Joi` in their `schema` the following:

[code]

There is a way for us to create a new constructor based off of the `arg` value.  But this then becomes a totally new Object entity th

[2016-11-05 19:42] lamchakchan commented on #21
(Edited to add object `unknown`)

[2016-11-05 22:48] lamchakchan commented on #21
(Edited to add object `schema`)

[2016-11-06 02:38] lamchakchan commented on #57
@WesTyler I put in a fix [here](https://github.com/hapijs/joi/pull/1027)

[2016-11-06 02:39] lamchakchan opened #63 "Integrate repo with NSP"
Integrate this repo with NSP

[2016-11-06 02:39] WesTyler commented on #57
Awesome, just saw it and commented to link to the issue I filed :)

Thanks for knocking out so much today!

[2016-11-06 03:56] lamchakchan opened #65 "Extending Joi.object.type() support"
@WesTyler I've made a PR to support value generation of this API.

[hapi/joi PR #1028](https://github.com/hapijs/joi/pull/1028)

[2016-11-06 14:30] WesTyler commented on #63
Continuing discussion in private channels for security.

[2016-11-06 14:52] WesTyler commented on #63
Done in #66

[2016-11-06 14:52] #63 closed

[2016-11-08 16:15] WesTyler commented on #30
I'm going to go ahead and close this. If anyone notices issues with the documentation, just create a new issue :)

[2016-11-08 16:15] #30 closed

[2016-11-11 04:46] lamchakchan opened #67 "Add npm version badge"
Add an npm version badge in the `README.md`

[![npm version](https://badge.fury.io/js/felicity.svg)](https://badge.fury.io/js/felicity)

https://badge.fury.io/for/js/felicity

[2016-11-11 14:19] #67 closed

[2016-11-17 01:35] lamchakchan opened #69 "Create templates for issue and PR submissions"
[templating example](https://github.com/blog/2111-issue-and-pull-request-templates)

[2016-11-17 16:33] WesTyler commented on #69
Looks like the ISSUE_TEMPLATE worked. Going to go ahead and make a PR template. I still won't close this issue until you have a chance to weigh in on the templates themselves.

[2016-11-17 17:12] WesTyler commented on #69
Hey @lamchakchan - I added the issue/PR templates and verified they are working as expected. I just wanted a second set of eyes on wording/details before closing this issue. Will you please PR and/or close this when you are satisfied?

[2016-11-18 15:28] #69 closed

[2016-11-18 22:34] WesTyler opened #72 "Support new Joi boolean.truthy/falsy methods."
With the release of Joi [v10](https://github.com/hapijs/joi/issues/1037), there are 2 new methods to implement: [`Joi.boolean().truthy()`](https://github.com/hapijs/joi/blob/master/API.md#booleantruthyvalue) and [`Joi.boolean().falsy()`](https://github.com/hapijs/joi/blob/master/API.md#booleanfalsyvalue)

[2016-11-18 22:36] WesTyler opened #73 "Support inverted string.regex pattern"
With the release of Joi (v10)[https://github.com/hapijs/joi/issues/1037], there is a new string regex option to implement:

[`Joi.string().regex(/pattern/, { invert: true })`](https://github.com/hapijs/joi/blob/master/API.md#stringregexpattern-name--options)

[2016-11-18 22:37] WesTyler opened #74 "Upgrade to Joi v10.0.x"
Joi v10.0.0 has been released. Let's jump on board.

[2016-11-18 22:39] WesTyler commented on #21
(Edited to indicate lack of coverage on new Joi v10 features: `boolean().truthy()`/`.falsy()` and `string().regex(/pattern/, { invert: true })`)

[2016-11-20 00:03] lamchakchan commented on #74
@WesTyler should I close or are you managing these for tracking?

[2016-11-20 01:03] lamchakchan commented on #21
(Edited to add object `type`)

[2016-11-20 01:35] lamchakchan opened #78 "Refactor all functions to use lambda (fat arrow) syntax"
#### Context

Refactor all anonymous function declarations to use `() => {}` syntax.  Should help with readability of the overall code base.  But let's not refactor any `function` declaration with name associations such as `function namedFunction()`.  But if possible, replaced those with `let namedFunction = () => {}`

[2016-11-20 02:32] lamchakchan commented on #21
(Edited to add boolean `truthy` and `falsy`)

[2016-11-20 03:20] lamchakchan commented on #73
Does not look like `RandExp` processes negative look aheads.  What do you think of supplying our own statick regex pattern when `invert` is `true`?

[2016-11-20 23:22] WesTyler commented on #74
I'm managing :) Once the other v10-related issues are closed I'll close this one. I'm taking a look at thing right now

[2016-11-20 23:23] WesTyler commented on #73
Yeah I was just thinking this through. I think that is a good compromise for v1. I imagine we will get issues reported if people use inverted regexes and have a problem with that.

[2016-11-20 23:29] #72 closed

[2016-11-20 23:29] #65 closed

[2016-11-20 23:29] #57 closed

[2016-11-22 15:57] WesTyler commented on #78
Anon functions as arrows, yes absolutely.

I'm not quite on board with named functions being arrows. But I'm not opposed on principle either. What's your thinking on that?

[2016-11-22 16:01] WesTyler commented on #73
I don't have much of an opinion on what that static pattern should be. Right now I'm thinking something silly like `/[a-d]{3,6}/`. Thoughts?

[2016-11-22 17:03] WesTyler opened #80 "Support Joi extensions"
This is a forum to discuss support and implementation of Joi [extensions](https://github.com/hapijs/joi/blob/master/API.md#extendextension).

In order to maintain a 1:1 api parity with Joi, we will eventually need some level of support for Joi extensions.

It's important to note in thinking about implementation that extensions do not modify the Joi module itself, but provide a new Joi instance to

[2016-11-22 19:23] lamchakchan commented on #78
We're agreeing on the named functions staying as such.  But for anonymous functions assigned to variables such as.

*existing*
`let helloWorld = function () { return 'hello world' }`
*new*
`let helloWorld = () => { return 'hello world' }`

[2016-11-22 19:44] WesTyler commented on #78
Are you talking about using arrows in cases like this? https://github.com/xogroup/felicity/blob/master/lib/index.js#L12

I'm not sure if there are any actual anonymous functions in the project that are not already using arrows.

[2016-11-22 22:12] #73 closed

[2016-11-22 22:13] WesTyler commented on #74
DONE. Going to update the README to remove disclaimer and publish v1 as soon as I get the blessing on the blog post to accompany.

[2016-11-22 22:13] #74 closed

[2016-11-23 16:25] lamchakchan commented on #78
Yes, that is a good example.

[2016-11-27 03:02] WesTyler commented on #78
Gotcha. I'm totally okay with using arrows for the functions declared inside of other functions [like this](https://github.com/xogroup/felicity/blob/master/lib/index.js#L70), but am not sure I like using arrows for main functions [like this](https://github.com/xogroup/felicity/blob/master/lib/index.js#L12).

Is that a good enough compromise that you feel okay with this moving forward like that?

[2016-11-27 05:40] devinivy commented on #78
In fact, in that latter case you can't use an arrow function since you need to access `this`.

[2016-11-28 02:13] lamchakchan commented on #78
@WesTyler Why are you okay with one versus the other?  Is it a stylistic opinion?  Looking at the hapijs style guidelines and it looks to be completely acceptable.  I would be more concerned with [this line](https://github.com/xogroup/felicity/blob/master/lib/index.js#L70) since it is returning a function to be instantiated and `=>` syntax does not allow for that.  But this might be a good choice

[2016-11-28 02:17] lamchakchan commented on #80
Maybe we can support Joi extensions Joi does and make Felicity extensible.  Author of a Joi extension can also author a Felicity extension.  We can create a new repo for `felicity/contrib` where all of that work does into.  What I'm not sure is if extensions modifies or overrides `any.describe`.

[2016-11-28 04:09] devinivy commented on #78
Right, `this` is accessible, but it's not always what you want.  In the example above the function is a constructor, so you want `this` to refer to an instance of that constructor's class.  Instead if you were to change it to an arrow function, `this` would refer to `global`, which wouldn't make for a very good constructor :P !

[2016-11-28 04:25] lamchakchan commented on #78
@devinivy , I pointed out to @WesTyler that you can not use fat arrow syntax for newing up an instance.  You will get JS errors.

[2016-11-28 04:52] devinivy commented on #78
Right, and similar story for tacking methods onto a `prototype`

[2016-11-28 13:22] WesTyler commented on #78
@lamchakchan It's mostly a stylistic opinion, mixed with guarding against arrow weirdness (like you guys already discussed). I know the Hapi style guide allows for using arrow functions just about everywhere, but just because you can doesn't always mean you should! I honestly would rather not use arrows anywhere except truly anonymous callbacks, but was trying to find some compromise to be a good

[2016-11-28 13:23] WesTyler commented on #80
Yeah I'm not sure about that either. I'll do some digging.

[2016-11-28 13:25] WesTyler commented on #78
Your repl actually has a perfect example of why I am not a fan of using arrows everywhere you can:
[code]
that confuses the hell out of my eyes haha. The IIFE makes it more extreme, but still.

[2016-11-28 15:50] lamchakchan commented on #78
With the sentiment exposed in this thread, I agree that the start usage of fat arrow should be narrow in scope and used within just the context of anonymous callbacks.  Maybe when hapijs as a whole moves more towards ES6 adopted syntax, we can then revisit.

[2016-11-28 15:50] #78 closed

[2016-11-29 03:14] WesTyler commented on #21
Closing this to mark where v1 is at the time of release.

[2016-11-29 03:14] #21 closed

[2016-11-30 16:14] WesTyler opened #82 "Joi Peer Dependency??"
I somehow overlooked the fact that Joi v10 was added as a peerDep. Is that needed since Joi is a direct dependency?

[2016-11-30 17:37] lamchakchan commented on #82
Looks like I added it, Let's remove it.

[2016-11-30 17:39] WesTyler commented on #82
Were there specific reasons you added it as a peer? I don't want to discount them out of hand just because I didn't think of them. :P

[2016-11-30 17:49] lamchakchan commented on #82
I think it makes sense to put the onus on the user to install the right `joi` at the top level.  What happens if the user sends in a schema object from different version of `joi` into `felicity` which then processes it with `joi@10`.  Because there is a tight dependency between input data and the felicity internals, it should be appropriate to push up that install requirement upstack.

The scenari

[2016-11-30 17:55] lamchakchan commented on #82
@WesTyler after more thought, we can still remove `peerDependency` if we do a schema version check which I think `joi` now [supports](https://github.com/hapijs/joi/blob/master/API.md#version).  But naturally, I believe in less code and utilizing the `npm` ecosystem where applicable.

[2016-11-30 20:06] WesTyler commented on #82
No no, I agree with this.

Let's keep it instead of introducing the Joi version checking code. We can always revisit if the peerDep messes people up. Thanks for chatting about it.

[2016-11-30 20:06] #82 closed

[2016-11-30 20:56] lamchakchan commented on #82
@WesTyler we are going to need to migrate `joi` from `dependencies` to `devDependencies`

[2016-11-30 20:57] WesTyler commented on #82
@lamchakchan err, why's that? We are directly using Joi in the Felicity src.

[2016-11-30 22:11] lamchakchan commented on #82
You're right, I keep forgetting we are because of the `describe` and `validate`

[2016-12-07 15:45] WesTyler commented on #80
Specifically take a look at supporting https://github.com/hapijs/joi-date-extensions first, since it is a Joi syntax that was deprecated in upgrading from Joi v9->v10.

[2016-12-07 22:20] WesTyler opened #84 "Recover 100% test coverage."
#### Context

* *felicity version*: 1.0.1

#### What are you trying to achieve or the steps to reproduce ?
Travis build is failing due to <100% test coverage. Just adding an issue for this to promote transparency.

[2016-12-07 22:32] #84 closed

[2016-12-14 18:53] WesTyler opened #87 "entityFor should not strip known keys with invalid values"
#### Context

* *node version*: 4.4.5
* *felicity version*: 1.0.1
* *environment* (node, browser): node

#### What are you trying to achieve or the steps to reproduce ?
When valid-shaped input with invalid values is provided to a constructor function from Felicity.entityFor, the values should not be stripped out of the input. Only unknown/disallowed keys should be stripped out of the input.

####

[2016-12-14 18:55] WesTyler commented on #87
Fix is going to be implementing a new `entityFor` option: `strictInput`, which will default to false to patch the expected behavior above.

Setting `strictInput: true` will cause this input validation to occur.

Whether `strictInput` is true or false, unknown keys on the input will always be stripped out.

[2016-12-14 19:28] #87 closed

[2016-12-14 19:30] WesTyler opened #89 "Publish v1.1.0"
# Summary of changes to be included in v1.1.0
## `entityFor` option: `strictInput`
  - related issue: #87
  - commit b5df3e7
## Utilize extended version of Joi
  - extend Joi with joi-date-extensions to support `Joi.date().format()` syntax deprecated in Joi v10.
  - related #83
  - commit 7327d89

[2016-12-14 19:53] #89 closed

[2016-12-19 23:18] WesTyler opened #90 "API.md does not accurate describe .validate behavior with a callback"
#### Context

* *node version*: 4.5.0
* *felicity version*: 1.1.0
* *environment* (node, browser): node

#### What are you trying to achieve or the steps to reproduce ?
To reproduce, create a constructor functions from a Joi schema using `Felicity.entityFor()`, then call `.validate((err, result) => {})` on a new instance of the constructor.

#### What result did you expect ?
According to API.md, t

[2016-12-19 23:26] WesTyler commented on #90
For intended behavior, see commit #b0e914f

[2016-12-22 19:55] WesTyler commented on #90
Closed via 47daeea

[2016-12-22 19:55] #90 closed

[2017-01-25 12:11] chribben opened #91 "Felicity example for number with max constraint hangs"
#### Context

* *node version*: 4.6.0
* *felicity version*: 1.1.0
* *environment* (node, browser): node
* *any relevant modules used with* (hapi, hoek, etc.):
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?

The following test fails:
[code]

#### What result did you expect ?

A successful test result

#### What result did you observe ?

The code

[2017-01-25 15:51] WesTyler commented on #91
Hey there! Thank you for raising this issue!

You actually brought up two separate things. Which is awesome, because I love fixing things and this is double the fun!

First of all, yes, you are absolutely correct. That loop is hanging for `Joi.number().max(1)` it ends up assigning both the default minimum and the maximum values to 1, which should obviously result in `1` being returned instead of t

[2017-01-25 16:32] #91 closed

[2017-01-25 19:46] chribben commented on #91
Great work, thanks!

[2017-02-04 16:13] WesTyler opened #95 "Add support for .example with input"
#### What are you trying to achieve or the steps to reproduce ?
Allow `.example` methods to accept an input parameter. Valid input will be used instead of randomly-generated data.

[code]

[2017-02-10 20:49] WesTyler opened #97 "Set up doctoc for API.md automated updates"
Add `doctoc` to devDeps.
Add `updateTOC` npm script.
Ensure API.md has the expected doctoc comments in place for auto-updates.

[2017-02-15 22:22] WesTyler opened #98 "Allow dynamic constructor names"
#### What are you trying to achieve or the steps to reproduce ?
Constructor functions created by `Felicity.entityFor` currently have the constructor name `Constructor`. There should be an option available to `entityFor` to override this name.

#### What result did you expect ?
[code]

#### What result did you observe ?
[code]

[2017-02-16 04:51] devinivy commented on #98
I don't think this is necessary,
[code]

[2017-02-16 06:00] WesTyler commented on #98
Nah,  definitely not necessary. But useful in debugging. I spent 30 minutes
trying to track down why something was passing around a `Constructor {}`
instance before remembering that's what I named the `entityFor` returned
function 😵😂
On Wed, Feb 15, 2017 at 10:51 PM devin ivy <notifications@github.com> wrote:

[2017-02-16 13:54] devinivy commented on #98
What I mean is, is there a reason not to use `class X extends Felicity.entityFor(schema) {}` to set the constructor's name in a more natural way?  (Even if it's just for debugging.)

[2017-02-16 14:14] WesTyler commented on #98
Oh geez.... that's what I get for reading your response on my phone and replying via email instead of actually visiting the issue and paying close attention to the code snippet you included...

Good call. I like that better than including it in the Felicity source. I'm turning this into a "documentation" ticket to show that example instead :D

Thanks!

[2017-02-16 20:03] WesTyler opened #99 "Remove duplicate Hoek.reach calls"
#### What are you trying to achieve or the steps to reproduce ?
https://github.com/xogroup/felicity/blob/master/lib/joiGenerator.js#L54

Only `Hoek.reach` once, **then** compare to the two values to assign flags.

[2017-02-16 20:05] WesTyler commented on #99
Same thing here: https://github.com/xogroup/felicity/blob/master/lib/helpers.js#L589

[2017-02-16 20:28] WesTyler opened #100 "Joi.object().pattern() is not supported. And it should be."
#### Context

* *node version*: 6.9.0
* *felicity version*: 1.1.1
* *environment* (node, browser): node
* *any relevant modules used with* (hapi, hoek, etc.): none

#### What are you trying to achieve or the steps to reproduce ?
Using the Joi schema `Joi.object().pattern()` should be supported in both `.entityFor` and `.example` methods.

[code]

#### What result did you expect ?
[code]
#### What

[2017-02-18 18:00] lamchakchan commented on #95
I'm torn about this feature.  Would it not be the same if not more flexible to allow the end user to do this themselves outside the scope of Felicity.  What type of regulations needs to be imposed around this?  In your example, if the `id` is not provided, should `commonPerson` still be added since it does not comply with the defined schema?

Seems like a lot to do when the user can just write som

[2017-02-18 23:04] #98 closed

[2017-02-18 23:07] #99 closed

[2017-02-18 23:15] WesTyler commented on #97
Closed via cee347f

[2017-02-18 23:15] #97 closed

[2017-02-18 23:20] WesTyler commented on #95
My plan was to follow a similar process to `entityFor` with input. In the case of data that does not comply with the defined schema, it will not be added.

I do hear you though. I'll leave this open for discussion, but it may end up not being worth building into the Felicity source.

[2017-02-19 00:32] WesTyler commented on #100
Currently hacking on this between diaper changes

[2017-02-21 02:15] #100 closed

[2017-03-01 19:08] WesTyler commented on #95
I think you're right. Rules for partial inclusion of data started getting hairy pretty quickly as I was putting together a spike for this.

I'm going to close it out and revisit only if users in the future start requesting this functionality.

[2017-03-01 19:08] #95 closed

[2017-03-06 17:07] WesTyler opened #108 "Problem with Joi.alternatives().try()"
#### Context

* *node version*: 6.9.0
* *felicity version*: 1.2.0
* *environment* (node, browser): node
* *any relevant modules used with* (hapi, hoek, etc.): none

#### What are you trying to achieve or the steps to reproduce ?
[code]

#### What result did you expect ?
The document should be instantiated with the `alternative` key set to `null`.

#### What result did you observe ?
`Error: Cannot

[2017-03-06 20:53] #108 closed

[2017-04-13 03:10] WesTyler commented on #80
Once the extension API/convention is figured out, I'd like to remove joi-date-extensions from the dependencies and go back to using "vanilla" Joi.

[2017-05-02 20:12] juanjoLenero opened #111 "Problem with alternatives.try when one of the alternatives is an object."
#### Context

* *node version*: 6.9.2
* *felicity version*: 1.3.1
* *joi version*: 10.4.1
* *environment* (node, browser): node

#### What are you trying to achieve or the steps to reproduce ?

Generate an example for a schema with alternatives, where one of the alternatives is an object.
[code]
The error only shows up when the object schema is chosen as the alternative for the example.

#### What

[2017-05-02 20:27] WesTyler commented on #111
Ah, yeah, I'm actually currently working on a big code-cleanup refactor that will fix this. The same issue exists on some array schemas as well... I was hoping to sneak in the fix before anyone got bitten by it. Going to bump this up in my priorities to try to get it out soon rather than later since you found it!

Thanks for checking out Felicity, and a huge thanks for filing the issue! :D :D :D

[2017-05-02 20:30] WesTyler commented on #111
Also, because I feel the need to, I'd like to point out that I broke my "never use Joi ._inner" rule so that I could add in dynamic defaults faster. There's a PR open on Joi that, when merged, will mean I can remove the `._inner` dependency completely.

This is why we have rules in place, haha. Sorry for breaking my own rule...

[2017-05-02 21:29] WesTyler commented on #111
Okay, so I went ahead and pushed a quick patch via #b78e6e6, but it looks like Travis CI is having some issues. I'm going to give it 10-15 minutes before just deploying manually. Look for Felicity v1.3.2 within the hour.

[2017-05-02 21:38] WesTyler commented on #111
Ok, manually published since Travis CI is down.

Let me know if you have any issues with v1.3.2 or above, and thanks again! :)

[2017-05-02 21:52] juanjoLenero commented on #111
@WesTyler that was fast, thank you.

I think I've run into an edge case:

My original example now works perfectly, but if I add the `lowercase()` option to the string schema I get:
![image](https://cloud.githubusercontent.com/assets/2656008/25641019/9dd74788-2f57-11e7-95d3-0d0b6f0ef8f8.png)

[2017-05-02 21:56] WesTyler commented on #111
Haha yes! I'm sorry to celebrate what is probably very frustrating to you, but I love when people find bugs in here. It's hard to thing of every use case for the many Joi features.

Reopening this. I can't promise a fix as quickly this time; I want to dig a bit deeper to make sure I'm actually addressing the base problem this time.

[2017-05-02 22:02] WesTyler commented on #111
Also, it looks like my experiment to re-write the entire example generation codebase is working out so far. I'll add this as an additional test, and hopefully the re-write will fix it and be done soon.

I'll also open up an issue for the re-write and link it here shortly for transparency.

[2017-05-02 22:04] juanjoLenero commented on #111
Don't worry, I appreciate what you are doing, `felicity` has been very helpful in testing my own codebase.

[2017-05-02 22:08] WesTyler opened #112 "Refactor /lib/helpers to leverage ES6 class syntax"
There is a ton of duplicate logic and checking in the example data generation code base at `/lib/helpers`. This also creates complex edge cases (like #111 ).

The example data generation should leverage classes so that base Joi rules like defaults, valids, examples, etc can be abstracted into the base Example class. Each "type" can then handle type-specific rules more cleanly, and "meta" types lik

[2017-05-02 22:09] WesTyler commented on #111
Glad to hear it has been helpful! :D

Larger issue that should (hopefully) resolve this, as promised: #112

[2017-05-11 14:10] #112 closed

[2017-05-11 14:27] WesTyler commented on #111
Hey there, v2 is published with a major rewrite of the example data generation. I've specifically added some tests around the case like your most recent `.lowercase()` bug, and it looks to be working as expected now.

Check out v2, and please let me know if you run into any new edge cases or weird scenarios!

[2017-05-11 14:27] #111 closed

[2017-05-11 15:37] WesTyler opened #114 "2.0.0 Release Notes"
# Summary

This release breaks previous return values from `Felicity.example()` for some combinations of `Joi.number()` schema.
- **Upgrade time**: low
- **Complexity**: low
- **Risk**: low

# Breaking changes
## `Felicity.example()`

In v1, Felicity had hard-coded checks for "impossible" scenarios (like `Joi.number().negative().min(1)`), and would return `NaN`. Because of some bad mathematical as

[2017-05-11 15:38] #114 closed

[2017-05-17 17:18] WesTyler opened #115 "Do not always use "valids" in .example"
Currently, `Felicity.example` will always pick a random value from the `valids` array if present. This means that some schema that `.allow(null)` will always generate `null`.

[code]

Instead, [the code](https://github.com/xogroup/felicity/blob/master/lib/helpers.js#L22-L24) should only *sometimes* use `valids` unless `flags.allowOnly` is set in which case the current behavior is correct.
[code]

[2017-05-24 16:40] #115 closed

[2017-05-25 17:45] danielo515 opened #116 "Examples[childSchema.type] is not a constructor"
#### Context

* *node version*: 7
* *felicity version*: 2.1.0
* *environment*: node
* *any other relevant information*: using joi extensions

#### What are you trying to achieve or the steps to reproduce ?

I'm trying to generate an example from a joi schema. Something as simple as this

[code]

But I'm getting the following error:

[code]

#### What result did you expect ?

I expect an auto gener

[2017-05-25 17:47] danielo515 commented on #116
Not sure if this deserves a mention, but if I try this:

[code]

I get an even larger error:

[code]

[2017-05-25 17:50] WesTyler commented on #116
Unfortunately for now, yes. What extension/extended types are your schema using? Just out of curiosity ;)

If you do have some extended `Joi.something()` in your schema, that would explain both of the issues you're seeing on `example` and `entityFor`. If you are using an extended Joi but only base schema types, that's a different problem :P

[2017-05-26 07:46] danielo515 commented on #116
I'm using both. For example I have one `Joi.string().integer()` and `Joi.timestamp()`.

What is exactly the barrier? By my experience joi extend is just adding types based on existing ones.

[2017-05-26 14:25] WesTyler commented on #116
The barrier for Felicity is knowing how to generate random data that matches the type. Or for `entityFor`, knowing what the "empty" state for the type looks like (`null` for most, `[]`, `{}`, etc).

I'm toying around with a Joi-like extension point where you can provide the extended type and a function that generates valid data for that type. I haven't tried building it out yet though. Hopefully s

[2017-05-26 14:33] danielo515 commented on #116
Isn't that kind of information reported by describe ? If not, then I think it should be describe responsibility to provide such interface to extensions.
If I remember correctly extensions can provide a describe function. Could that be used by Felicity taking in account that the provided description is correct ?

[2017-05-26 14:46] WesTyler commented on #116
Yeah, Felicity is driven completely by `describe`. But, it has to know how to translate that output.

For example, using the joi-date-extensions extended Joi. You hand Felicity.example `Joi.date().format('MM-DD-YY')` and you expect to get something like `05-26-17` back. But all Felicity has to go on is a flag that says `momentFormat: [ 'MM-DD-YY' ]`. So yes, it know the base type (date) but not ho

[2017-05-27 08:52] danielo515 commented on #116
How does felicity create random values based on regular expressions? What if each extension includes a regular expression on its description that can be used by felicity to generate random values?

Another alternative would be to allow a special property on the description specific for felicity. Since Felicity is the only project providing this great functionalities to Joi I feel that Joi should c

[2017-05-27 17:52] WesTyler commented on #116
With the [randexp](https://github.com/fent/randexp.js) library :)

Nah, not going to pollute Joi in support of Felicity. We are making the `describe` behavior more complete and thorough, but I won't try to put something specific in there for Felicity.

Yeah, that would be ideal! Haha. If you think of a way to make it happen, I'm all ears. I've been thinking this through for the better part of a ye

[2017-06-08 14:56] danielo515 commented on #116
I have been thinking about this.
I don't have the solution, but at least I have a couple of comments.

I don't know why this error happens. I can understand that felicity will not be able to create a valid example for custom extension, but at least it should not break this way. There are other libraries that use joi descriptions to create examples ( [hapi-swagger](https://github.com/glennjones/hap

[2017-06-08 14:58] WesTyler commented on #116
I agree. Working on that currently. Hoping to have a patch up in the next few days ;)

Ah, gotcha. Yeah, I'm totally fine with that approach. I thought you meant adding a `describe` property to Joi proper.

[2017-06-08 15:15] danielo515 commented on #116
Sorry, not sure to understand 😕

I mean something like:

[code]

The problem is that describe is supposed to return something serializable, while a function it is not. But since it is not documented, I don't see the problem 😄

[2017-06-08 15:19] WesTyler commented on #116
We are going to be adding support for `.default()` functions to the `describe` output in Joi v11, so in general having functions in the describe output is totally fine. I like where this is going :D :)

[2017-06-12 14:41] WesTyler commented on #116
@danielo515 - I opened up a PR for a basic fallback implementation for extensions. If you don't mind, would you check out that branch and see if it fixes the TypeError you were seeing with your extension?

If it does, or if I don't hear back in a couple of days, I'll go ahead and publish as a patch while I work on proper extensions support.

[2017-06-12 15:40] danielo515 commented on #116
I'll try to rest it tomorrow and report back.

Many thanks

[2017-06-14 10:03] danielo515 commented on #116
Hello @WesTyler

I'm still getting the same error:

[code]

[2017-06-14 16:14] WesTyler commented on #116
Eff.

Any chance you could send me a gist with your extension? I haven't been able to write an extension that fails on this branch...

[2017-06-14 19:45] danielo515 commented on #116
Sure.
Expect it tomorrow. It may be a problem with how I author extensions

[2017-06-14 20:14] WesTyler commented on #116
No matter how you author an extension, if it works with Joi it shouldn't throw TypeErrors here :)

Thanks for working with me on this!

[2017-06-15 07:56] danielo515 commented on #116
Here you have an example that fails:

https://gist.github.com/danielo515/32e78441e900440f7350db81bca8fa0a

Many thanks
Regards

[2017-06-15 14:46] WesTyler commented on #116
Ok great, I'll try to get something like that worked into the tests. Thanks for sharing that over!

[2017-06-15 14:53] WesTyler commented on #116
Ahhhh hahaha okay this is easy. I made the change in the wrong spot, so my fallbacks didn't work for children :P . My bad. Should have an update on this branch shortly.

[2017-06-15 15:06] WesTyler commented on #116
Should be good to go now.

[2017-06-19 14:42] danielo515 commented on #116
Hello @WesTyler

I tried the new version of Felicity with my base example and it now works.
However, I think you are not taking full advantage of what the describe method provides to you.

If you take a look at the description output of my example, it provides an array of valid values. However, instead of picking one, you are returning a random string. I can understand that it can be tricky to man

[2017-06-19 19:20] WesTyler commented on #116
I think Felicity will currently use a value in the `valids` array [*sometimes*](https://github.com/xogroup/felicity/blob/master/lib/valueGenerator.js#L24). The only time it will *only* use the values in `valids` is if the `allowOnly` flag is set as well.

[code]

[2017-06-19 19:24] WesTyler commented on #116
Perhaps I can default Felicity to always use `valids` if present, but have an option to override that for specific examples like my use case for not always wanting `null` when we `.allow(null)`

[2017-06-19 19:26] WesTyler commented on #116
Actually, I like that better. I'll open up a separate ticket for that switch in default behavior.

Is there anything remaining on this issue for super-basic extension support? If not, I'll merge that PR and close this. More extensive extension support per discussions above will follow, this resolution will be to simply prevent `TypeError`s.

[2017-06-19 19:31] WesTyler commented on #80
Per discussions with @danielo515 on #116, this could potentially be support through the use of a `generate` function provided by the extension via `describe` functionality. Perhaps something like

[code]

[2017-06-20 07:40] danielo515 commented on #116
Hello @WesTyler
You're right this issue is resolved. We can continue discussing about the valids thing in the other ticket.

Regards

[2017-06-21 15:59] #116 closed

[2017-06-21 16:01] WesTyler opened #118 "Felicity should default to pull valids and provide an optional override"
Per discussion in #116 -
The default `Felicity.example` behavior should be to utilize values in a schema's `valids` array. To support bypassing that behavior (as when a schema has `.allow(null)` ), there should be an [option](https://github.com/xogroup/felicity/blob/master/API.md#example-options) passed to `.example` to ignore the `valids`, such as `ignoreValids`.

`ignoreValids` should default to

[2017-06-22 08:16] danielo515 commented on #118
Can you think in any other scenario (despite the flag `allow(null)`) where you want to ignore the valids ? In my opinion, if allow null flag is present you should just push a null value into the valids array and pick a value randomly.

[2017-06-22 15:14] WesTyler commented on #118
To me, `.allow()` is a way to say "these aren't the desired values, but don't error out if they are there". So I'd like a way to not include those in `example()` generation, even if it isn't by default.

[2017-06-22 17:30] danielo515 commented on #118
And is that different from what I said ?

[2017-06-28 14:55] WesTyler commented on #118
Nah, reading back over your comment I actually think we are saying the same thing. I'm working on this a bit this morning, so I may have something up soon. :)

[2017-06-28 15:21] #118 closed

[2017-06-28 17:39] danielo515 commented on #118
I'm still don't understand why you need an ignore valids flag. Is it to generate an example that endured the `.allow` values are included ? If that is the case, I understand it. However I still thinking that allow values should be merged with the valids list for the rest of situations

[2017-06-28 17:44] WesTyler commented on #118
both `.allow()` and `.valid()` put the values into the schema's `valids` array. The only difference is that `.valid` also sets the `allowOnly` flag. So I need ignoreValids for some use cases where we `.allow(null)` but do not want null in examples.
[code]

[2017-06-28 18:14] danielo515 commented on #118
Ok, I was mixing the valid method with the values on the valids array. What you say makes sense. However seems a bit odd that you only want to allow one single value but sets a property to allow another value. A bit non sense from my point of view ,but maybe there is room for something like that

[2017-06-28 18:59] WesTyler commented on #118
In our case we have models that look something like
[code]
For the `nickname` property, we do not want to fail out the validation when `null` is passed in. But, for generating mocks for our tests (like seeding 100k records into a test DB) we may not want `null` set on nickname. So this lets us maintain the permissive schema while automatically excluding null from test mocks. :)

[2017-06-29 11:55] danielo515 commented on #118
Hello @WesTyler
Your example makes a lot of sense, and as usual is very instructive.

Glad you agree. Then we conclude it is just possible.

Thanks for your patience!

[2017-07-10 19:33] Samueljoli opened #119 "Allow example() api to accept override object for explicit value setting."
#### Context

New Feature Request

#### What are you trying to achieve?

Allow `Felicity.example()` to accept override object to explicitly set the value of some or all properties.

[code]

[2017-07-10 20:16] WesTyler commented on #119
Will discuss more later, but for now check out the discussion previously [here](https://github.com/xogroup/felicity/issues/95).

Definitely worth revisiting.

[2017-07-10 20:37] Samueljoli commented on #119
I'll go ahead start off by echoing this `Rules for partial inclusion of data started getting hairy pretty quickly as I was putting together a spike for this.` I also see Lam's point.

I'd imagine a revisit is dependent on community need?

[2017-08-08 07:48] christophediprima opened #120 "Joi.string().uri() not handled"
All is said in the title. uri wont generate a correct example.

[2017-08-08 14:21] WesTyler commented on #120
Aware of it and it's on my list to add soon. PRs are also always welcome :D

Thanks for making it visible and for checking out the project!

[2017-08-10 20:19] WesTyler opened #121 ".options({ presence: 'optional' }) should carry down to children"
#### What are you trying to achieve or the steps to reproduce ?
For an object with some children keys that do not have the presence specified, the value provided to `.options({ presence: 'optional'||'required' })` should be applied.

#### What result did you expect ?
[code]

#### What result did you observe ?
[code]

[2017-08-10 20:43] #121 closed

[2017-08-16 17:09] WesTyler opened #123 "Support options override on entityFor .validate() calls"
Currently calls to `.validate()` do not support passing in additional or override options (like `{ stripUnknown: true }`). The only options are those set at the time that `entityFor` is called.

We should allow for optional overrides at the time of validation.

[2017-08-16 20:31] WesTyler opened #124 "Object().rename() is wrong"
#### Context

* *node version*: 6.9.0
* *felicity version*: 2.2.2
* *environment* (node, browser): node

#### What are you trying to achieve or the steps to reproduce ?
Renamed keys on objects should be respected for example data generation. `Felicity.example` is currently renaming in the wrong direction.

#### What result did you expect ?
[code]

#### What result did you observe ?
[code]

[2017-08-17 14:56] #124 closed

[2017-09-15 15:22] WesTyler opened #127 "Update to Joi version 11"
Dep and peer-dep should be updated from Joi@10.x to Joi@11.x

[2017-09-15 15:24] #127 closed

[2017-09-15 15:26] WesTyler commented on #120
Well I dropped the ball on this issue maintenance. This landed in Felicity v2.2.5 in 047ba46d .

[2017-09-15 15:26] #120 closed

[2017-09-15 18:03] Samueljoli commented on #123
@WesTyler Are you currently working on this?

[2017-09-15 19:59] WesTyler commented on #123
@Samueljoli nope. Was going to today and ended up on scss styling all day. I'll un-assign myself if you want to take a stab at it!

[2017-09-30 15:53] #123 closed

[2017-11-03 18:57] Samueljoli opened #130 "Raise an error when constructor is passed invalid input"
#### Context

* *node version*: `8`
* *felicity version*: `2.x.x`
* *environment* (node, browser): `node`

#### What are you trying to achieve or the steps to reproduce ?

Using a felicity constructor and input options, successfully create an instance, and through an error when passed an invalid input.

[code]

[2017-11-06 16:01] WesTyler commented on #130
I'm honestly torn about this. It was specifically designed not to throw in this case.

I'll ping a larger group to see if we can come to a consensus.

[2017-11-06 17:29] WesTyler commented on #130
Pulling over some decisions from discussions in private channels:

It looks like we can add this as an option while preserving backward-compatibility by changing the signature of the constructor return by `entityFor` from `(input)` to `(input, [options])` where the optional `options` object would default to `{ validateInput: false }`. Calling the constructor with `new Constructor(input, { validate

[2017-11-14 20:35] WesTyler opened #131 "Allow for optional override options to be provided to entityFor constructors."
Related to the proposed solution to #130 .

We want to allow for instance-level options overrides for things such as `includeOptional` and the new (to-be-added)`validateInput` option. However, if we change the constructor function signature from `(input) => {}` to `(input, options) => {}` we do not have a convenient way to provide options but not input.

[code]

"Solution" 1 - require 2 params, a

[2017-11-14 22:38] Samueljoli commented on #131
@WesTyler How exactly would `1` work in terms of passing the `input`?

[2017-11-14 22:54] WesTyler commented on #131
If there was actual input, it would be the same as it is right now:

[code]

It just gets "weird" if you want to instantiate an "empty" instance with options.
[code]

[2017-11-15 11:58] christophediprima opened #132 "specialRules can not be chained with min, max or length"
All is in the the title. I noticed that it was not working when trying to generate following schema:

[code]

[2017-11-15 13:43] WesTyler commented on #132
What was the output you were seeing? Where you using `entityFor` or `example`? Was this on one of those two base Felicity methods, or did you create an instance of an `entityFor` constructor and call its `.validate` or `.example` method?

What version of Felicity?
What version of Joi?
What version of Node?

[2017-11-15 15:49] WesTyler commented on #130
After sleeping on this, the second option is wrong. I'm not going to go down that road.

The first option, while slightly inconvenient, is a well-established pattern in JS. I'm running with that. Feel free to hit me up if you disagree.

[2017-11-15 16:08] WesTyler commented on #119
Yeah, after letting this sit for a bit and looking at a few options  I think it is best left to the user so that Felicity doesn't have to try to encapsulate all rules for conflicts/partial inclusion. I'll drop a sample here shortly for posterity.

[2017-11-15 16:08] #119 closed

[2017-11-15 16:12] christophediprima commented on #132
Sorry not having followed the issue creation rules.

- Felicity: 2.3.0
- Joi: 13.0.2
- Node: 7.8.0

[code]

[2017-11-15 16:13] WesTyler commented on #132
No worries! Thank you for the additional info, it is super helpful in diagnosing the issue! I'm looking at this later this afternoon.

[2017-11-15 16:17] christophediprima commented on #132
Nice! I have been looking at the code and it looks like you are returning before passing in the "min max" when we have at least one special rule.

[2017-11-15 16:18] christophediprima commented on #132
https://github.com/xogroup/felicity/blob/fa1abd3de9c9fc3f522d44180676a25918eee5cb/lib/valueGenerator.js#L205

[2017-11-15 16:38] WesTyler commented on #119
[code]

[2017-11-15 16:41] WesTyler commented on #131
After sleeping on this, the second option is wrong. I'm not going to go down that road.

The first option, while slightly inconvenient, is a well-established pattern in JS. I'm running with that. Feel free to hit me up if you disagree.

[2017-11-15 18:09] #131 closed

[2017-11-15 19:43] #130 closed

[2017-11-15 20:15] WesTyler commented on #131
This was back-ported to v2 in version 2.4.0

[2017-11-15 20:15] WesTyler commented on #130
This was back-ported to v2 in version 2.4.0

[2017-11-15 20:16] WesTyler commented on #127
This was back-ported to v2 in version 2.4.0

[2017-11-15 20:16] WesTyler commented on #123
This was back-ported to v2 in version 2.4.0

[2017-11-15 22:32] WesTyler commented on #132
Yep, sure enough. Not sure how this has gone this long without someone else running into this, haha.

[2017-11-15 22:53] WesTyler commented on #132
This should be fixed in v2.4.1!

Thanks for reporting, and thank you for quickly getting back to me with the additional information!

[2017-11-15 22:53] #132 closed

[2017-11-16 09:18] christophediprima commented on #132
Nice! Thanks for fixing it so quickly!

[2017-12-07 04:28] Samueljoli opened #134 "instance.example() should still generate values for fields that are optional()?"
#### Context

* *node version*: `8`
* *felicity version*: `2.x.x`
* *environment* (node, browser): `node`

#### What are you trying to achieve or the steps to reproduce ?
[code]

#### What result did you expect ?
Not sure if this is the desired behavior but I'd expect an example with all fields to be present.

[2017-12-07 13:14] WesTyler commented on #134
You need to nest the `.example` options inside of a `config` property:

[code]

https://github.com/xogroup/felicity/blob/master/API.md#options

:)

[2017-12-07 13:14] #134 closed

[2017-12-07 14:44] Samueljoli commented on #134
Sorry @WesTyler totally right!

[2017-12-07 16:30] Samueljoli commented on #134
@WesTyler Seems like `includeOptional` doesn't work so well with lists.

[code]

If this is a valid bug, I can open an issue and look into it.

[2017-12-13 18:56] WesTyler commented on #134
Yes this is a bug! Go ahead and open up an issue if you'd like :) Thanks @Samueljoli !

[2017-12-13 19:12] Samueljoli opened #135 "Generate options are not getting passed down in recursive cases"
#### Context

* *node version*: `8`
* *felicity version*: `2.x.x`
* *environment* (node, browser): `node`

#### What are you trying to achieve or the steps to reproduce ?
[code]

#### What result did you expect ?
A full example to be generated

[2017-12-13 19:22] WesTyler commented on #135
Patch on master (v3), backport to v2 branch

[2017-12-14 05:44] Samueljoli commented on #135
@WesTyler Hey found some time to take a look at this.

Findings:

Seems like `options` weren't being passed in [here](https://github.com/xogroup/felicity/blob/master/lib/valueGenerator.js#L536
), and [here](https://github.com/xogroup/felicity/blob/master/lib/valueGenerator.js#L548
)

So when we got [here](https://github.com/xogroup/felicity/blob/master/lib/valueGenerator.js#L635) `includeOptional`

[2017-12-14 15:17] WesTyler commented on #135
Awesome, thanks! I'm trying to wrap up our hapi 17 stuff, but I'll post here when I get started on this. Feel free to make a PR if you beat me to it! Thanks for digging in :D

[2017-12-19 13:35] #135 closed

[2017-12-19 13:46] WesTyler commented on #135
Backported to the v2 branch and released in Felicity@2.4.4

Thanks again @Samueljoli

[2017-12-20 14:18] gxapplications opened #137 "felicity.example() throws an error for Joi.object().default(<OBJECT>)"
#### Context

* *node version*: 7.10.1
* *felicity version*: 2.4.4
* *environment* (node, browser): nodejs / Linux
* *any relevant modules used with* (hapi, hoek, etc.): tests through mocha & chai/expect
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?

When trying to generate an example with this, it's ok:
[code]
-> OK

But when default() contai

[2017-12-20 15:24] WesTyler commented on #137
Yep, sure enough! Thanks for the bug report. I'll see about getting it patched ASAP.

[2017-12-20 15:46] #137 closed

[2017-12-20 15:52] WesTyler commented on #137
Published in v2.4.5 . Thanks again for checking out Felicity and for the report! I appreciate it! :D

[2017-12-20 16:16] gxapplications commented on #137
Hey great, it works :)
Thank you for Felicity and your reactivity, I will digg a lot more in it because I will have a lot more complicated cases that will come soon... :)

[2018-02-04 21:35] rbeer opened #138 "Example with bool type throws"
#### Context

* *node version*: 8.9.4
* *felicity version*: 2.4.5
* *joi version*: 6.10.1
* *environment* (node, browser): node
* *any relevant modules used with* (hapi, hoek, etc.): ---
* *any other relevant information*: ---

#### What are you trying to achieve or the steps to reproduce ?
Create `example()` for a Joi schema with `bool` type.

[code]

#### What result did you expect ?
Example Obj

[2018-02-04 21:46] rbeer commented on #138
Yeah, I guess that one's gone, isn't it?
[code]

[2018-02-04 22:07] rbeer commented on #138
joi: ^6.10
Nevermind 😅

[2018-02-04 22:08] #138 closed

[2018-02-05 14:52] WesTyler commented on #138
Haha glad you got it figured out! I was having a mild freakout reading the original issue template :)

Thanks for checking out Felicity and taking the time to open an issue! I appreciate the effort even if it turned out to be a non-issue :D

[2018-02-05 15:12] rbeer commented on #138
Well, whenever I miss something in Felicity, I'll be back. :)
I actually came across the version discrepancy when I pulled the repo to start working on a PR.
You guys saved me a ton of time with this, already. It will be my pleasure to contribute, once my needs outgrow what Felicity already does. So, then again, don't expect me back too soon. ;D

[2018-02-23 08:33] gxapplications opened #139 ".example() on string().required().valid(a, b, c).default(b) does not take default into account"
#### Context

* *node version*: 7.x
* *felicity version*: 2.4.5
* *environment* (node, browser): node API server side

#### What are you trying to achieve or the steps to reproduce ?

Get an .example() value from a schema with a key of type enum:
var dataSchema = Joi.string().required().valid('invert', 'off', 'on').default('invert')

Using only default() values:
felicity.example(dataSchema, { conf

[2018-02-23 16:33] WesTyler commented on #139
Thank you for finding and letting us know about this! I'll take a look today and see if I can get a fix out soon.

[2018-02-23 17:15] #139 closed

[2018-02-23 17:15] WesTyler commented on #139
Got this patched in master. Backporting to v2.x.x now.

[2018-02-23 17:26] WesTyler commented on #139
Okay, this was published in 2.4.6

Please let me know if you continue to see issues with this!

Thank you for checking out Felicity and taking the time to help us make it better! I really appreciate it! :D

[2018-03-06 21:21] WesTyler opened #140 "Respect .strip() in entityFor constructors"
#### What result did you expect ?

[code]

#### What result did you observe ?
[code]

[2018-03-06 21:22] #140 closed

[2018-04-14 13:39] MrShoenel opened #141 "Joi.func() creates Objects as examples"
#### Context

* *node version*: latest
* *felicity version*: 2.4.7
* *environment* (node, browser): node
* *any relevant modules used with* (hapi, hoek, etc.):
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?

When trying to generate valid examples that include schemas of type `Joi.func()`, felicity creates objects.

#### What result did you expe

[2018-04-14 17:43] WesTyler commented on #141
Ah weird! Thanks for the report, I confirmed it is reproducable :)

I'll see if I can get a patch out this weekend.

[2018-04-17 21:41] WesTyler commented on #141
Huh. Wonder why github didn't close this out with that commit.

This should be fixed in v2.4.8! Thanks again for checking out Felicity and taking the time to report the problem!

Please let me know if you run into anything else! :D

[2018-04-17 21:41] #141 closed

[2018-08-27 00:30] Samueljoli opened #142 "instance validation fails silently when nested array items do not pass validation."
**Context**

* *node version* `8.9.1`:
* *felicity version* `2.4.9`:
* *environment* (node, browser) `node`:
* *any relevant modules used with* (hapi, hoek, etc.):
* *any other relevant information*:

**To Reproduce**
What are you trying to achieve or the steps to reproduce ?
Please include any relevant Joi schemas.
[code]

**Expected behavior**
`instance.validate().success` should return false.

[2018-08-30 15:45] Samueljoli commented on #142
This is actually a misunderstanding with how `stripUnknown` affects array items. Closing this issue.

[2018-08-30 18:57] WesTyler commented on #142
This is a good example of some discrepancies between `instance.validate()` and `Contructor.validate(instance)` .

I'll take a look as soon as I have a chance. This may prompt a v3 release to clean up config passing.

[2018-09-03 01:51] yonjah opened #143 "A bunch of questions and feature suggestions :-)"
Hi I just started using Felicity for automatically Fuzz test my hapi routes and overall It's working great.
Initially I couldn't get it to work as is and I had to add some minor hacks to get it to work ( I think mostly because I use Joi 13.x and felicity is using Joi 11.x).

So I have a few suggestions / questions trying to figure out if I'm using it wrong or can implementation improve.

1. When g

[2018-09-04 16:41] WesTyler commented on #143
Hey there! So glad you've got it working, and thanks for checking it out and giving feedback! All feedback is greatly appreciated.

Regarding your startup woes, yeah I need to bump my dependency versions. In the next couple of days I will publish a v3 major update to bring everything current. Going to do it as a major so that I can bring in significant breaking changes in Joi and also drop support

[2018-09-04 17:25] WesTyler opened #144 "3.0.0 Release Notes"
# Summary

This release drops support for Node 4.x (EOL for nearly 6mo now) and Node 6.x (maintenance LTS only) and updates dependencies, including updating from Joi@11 to Joi@13.

I will continue to backport bug and security fixes to the 2.x line until Node 6.x drops out of Maintenance LTS (Spring 2019).

[2018-09-04 17:46] #144 closed

[2018-09-04 17:59] WesTyler opened #145 "Default `stripUnknown` on entityFor Constructor input leads to weird behavior"
**Context**

* *node version*: 8.9.0
* *felicity version*: all
* *environment* (node, browser): node
* *any relevant modules used with* (hapi, hoek, etc.):
* *any other relevant information*:

**To Reproduce**
[code]

When the `validateInput` config is either not passed (default `false`) or set to `false`, the expectation is that no validation should be performed on the input. However, Felicity is

[2018-09-04 20:41] #145 closed

[2018-09-05 00:46] yonjah commented on #143
HI @WesTyler Thank you for your answers.

With the fist point I was actually meaning  the opposite. Using `schema.describe()` seems like the right way to go, But after getting the description the schema is regenerated again from the description  (using `helpers.descriptionCompiler` ) It seem like most issues I was having were since the recompilation steps failed so I was wondering why it is necess

[2018-10-08 03:57] yonjah commented on #143
@WesTyler I tried to have a go at implementing my own [generator](https://github.com/yonjah/juzz) just following the description provided from `Joi` it seem like most of it is working OK but there are a few edge cases where the description is just not good enough to deduce a valid example.

With regards to overriding generated values I allow passing a method that will replace the generated values

[2018-11-07 22:37] WesTyler opened #146 "Investigate - nested optional props in a required object"
Instantiating a new instance of an entityFor constructor might be ignoring `optional` flags in children of required objects.

[2018-11-27 17:45] WesTyler opened #147 "Investigate - Node@10 regex support for generating examples using lookaround assertions"
With some additional support landing in Node 10 for regex lookaround assertions, perhaps support for generating strings based on regexps containing lookarounds can improve.

[2019-02-12 14:52] WesTyler opened #148 "Update to Joi 14"
Felicity needs to be updated to and tested against Joi 14.

[2019-02-15 22:04] WesTyler commented on #148
In progress. Includes breaking changes in Joi around `.example()`, so this will be a semver major release for v4.

Going to try to get some bug fixes into 3.x before rebasing and PRing this, but the local commit is done.

[2019-03-11 20:03] mattkelly commented on #148
@WesTyler do you happen to have an ETA for this? I'm interested in support for Joi 14.

[2019-03-11 20:09] WesTyler commented on #148
Hey @mattkelly sorry, didn't realize anyone was watching and waiting on this :P

I'll double check 3.x tomorrow to make sure I've got that in good shape. If so I can get 4.0.0 to support Joi@14 published tomorrow afternoon.

[2019-03-12 20:38] WesTyler commented on #148
Felicity@4.0.0 is published with support for Joi@14 :)

[2019-03-12 20:38] #148 closed

[2019-03-12 20:41] mattkelly commented on #148
Thanks a ton for the fast turnaround on this, @WesTyler! I'll check it out. I really appreciate it.

[2019-03-12 20:42] WesTyler commented on #148
Haha I don't know that I can claim fast turnaround when I opened the issue to do this about a month ago. Thank *you* for reminding me it was sitting here!

[2019-05-16 06:48] Samueljoli opened #150 "Update hapi core modules"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Have the latest and greatest hapi core packages and move dependencies to namespaced versions.

[2019-05-28 16:15] alexeychikk opened #151 "TypeScript support"
It would be nice to see TypeScript definitions for this lib.

[2019-05-29 14:20] WesTyler commented on #151
Honestly, I don't use TS so the type definitions would most likely end up either wrong or out of date.

I know that for a while people had success using [Definitely Typed](https://github.com/DefinitelyTyped/DefinitelyTyped) to host type definitions for Joi. That's probably the best option here for now.

[2019-06-07 15:53] #151 closed

[2019-06-07 15:55] WesTyler commented on #150
Thanks for doing the update! v5.0.0 is being published as I type

[2019-06-07 15:55] #150 closed

[2019-06-07 15:56] WesTyler commented on #18
Meh, this is apparently never going to happen

[2019-06-07 15:56] #18 closed

[2019-10-31 19:24] azai91 opened #152 "Plans to support Joi 16"
Are there plans to support Joi 16?

[2019-10-31 19:29] WesTyler commented on #152
Hi there, yes absolutely!

I haven't had time to look at the update yet, since I'm expecting it to be a nearly-total rewrite. I anticipate some open time in the next month though.

If you want to take a stab at it and see how much Joi@16 mucks up the Felicity internals, you are more than welcome to! 🎉

[2019-11-01 16:57] WesTyler commented on #152
[code]
I'm honestly surprised that I had *any* passing tests when I did the drop in replacement with Joi@16 😆

[2019-11-01 17:01] WesTyler commented on #152
Also, for anyone stumbling upon this a head's up - Felicity@6 with @hapi/joi@16 support will be a dramatic simplification of the api and functionality. I plan to drop the `.entityFor` method and class  functionality entirely, and focus the library on sample data generation.

[2019-12-11 14:29] mcarballosam commented on #152
Hi everyone, any update on this matter? Thank you

[2019-12-11 15:52] WesTyler commented on #152
Still in the works, sorry for the delay. My wife recently gave birth to our second kid, so things got a bit hectic. Hoping to finish soon though.

If anyone wants to take a poke, I have a work in progress branch pushed up [here](https://github.com/WesTyler/felicity/tree/v6_WIP)

[2019-12-11 16:34] mcarballosam commented on #152
Thank you, and congrats on the baby!

[2020-02-05 04:52] thebradbain commented on #152
This is super exciting (including the baby, too)! Because I bet your life is pretty hectic right now, just checking in to see if v16 (and possibly in addition, v17?) is still on the roadmap – totally fine if not, just wondering if I should plan on using this in an upcoming project or look for alternatives if not :)

[2020-02-05 05:50] WesTyler commented on #152
(Hey thanks!)
I actually made some good progress on this over this past weekend, so yes it absolutely is still in the works. I hate that it's taking so long...
And I'll be rolling straight into Joi@17 support as soon as I get these last refactors from @16 in. That should be a muuuch lighter lift. Felicity reaches into the internals of Joi, and Joi@16 was nearly a full rewrite of the Joi internals,

[2020-04-30 14:29] azai91 commented on #152
Any update on this?

[2020-10-08 20:41] gxapplications commented on #152
Hello ! Any plan to support v17 directly ? 😁

[2021-02-09 05:01] WesTyler commented on #152
Okay, sorry all, 2020 was.. well... 2020

The fine folks on our China team stepped up and have opened a [PR](https://github.com/xogroup/felicity/pull/154) to update directly to Joi@17. Since the Joi@16 update took a back seat for so long, I am going to skip it. Felicity@6.x will leapfrog to Joi@17.

I should have this wrapped up and published out within 1-2 days.

[2021-12-15 20:20] douglas1983 opened #155 "Joi the max() validation is not respected."
In the Felicity.example() method, when in joiSchema there is a pattern() validation, the max() validation is not respected.

const payeeSchema = {
    bank_identifier: Joi.number().integer().min(1).max(999).required(),
    bank_branch: Joi.string().trim().pattern(/^\w+(?:\s+\w+)*$/).max(4).required(),
    bank_branch_identifier: Joi.string().trim().pattern(/^\w+(?:\s+\w+)*$/).max(1).required(),

[2022-06-07 18:25] jacobwaller opened #156 "Does not support Joi's array().has(...)"
**Context**

* *node version*: 16.1.0
* *felicity version*: 6.0.0
* *environment* (node, browser): node
* *any relevant modules used with* (hapi, hoek, etc.): Joi 17.4.1
* *any other relevant information*:

**To Reproduce**
Attempt to create an example of:
[code]

**Expected behavior**
I would expect an example object to look something like:
[code]
since Joi should require at least one object in m